:root {
  --drawer-width: calc(180px + 10vw);
  --color-priority-low: #ff535342;
  --color-priority-medium: #ffe17c4a;
  --color-priority-high: #8bc34a4a;
  --spacing: 8px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
  scrollbar-width: none;
}

html {
  height: 100vh;
  width: 100vw;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

#root {
  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  font-weight: 300;
}

.MuiMenu-paper {
  /* Limit popup height, 真的非不得已，不然 index.css 會被加在最上面 */
  max-height: 16.8em !important;
}

/* 這裡要怎麼處理比較好？弄掉 scroll bar */
::-webkit-scrollbar {
  display: none;
}
